################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PACOM/FileContentIndex
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/.vs/PACOM/DesignTimeBuild/.dtbcache.v2
/.vs/PACOM/v17/.suo
/.vs/PACOM/v17/DocumentLayout.backup.json
/.vs/PACOM/v17/DocumentLayout.json
/.vs/PACOM/v17/.futdcache.v2
/.vs/ProjectEvaluation
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/.vs/PACOM/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
/.vs/PACOM/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
/.vs/VSWorkspaceState.json
/.vs/PACOMWebAPI/v17
/.vs/PACOM/config
