################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# Logs
*.log

# NuGet
*.nupkg
packages/

# Publish output
wwwroot/dist/
wwwroot/build/

# OS-specific
Thumbs.db
.DS_Store
